@using Microsoft.JSInterop

@inherits LayoutComponentBase
@implements IDisposable


@inject IUriHelper _uriHelper;
@inject LayoutService _layoutService;
@inject LanguageService _languageService;
@inject TrackerService _trackerService;
@inject InteropService _interopService;
@inject IJSRuntime _jsRuntimeCurrent;



<div class="main">

    <BlazorPlaceholder Name="navbar">
        @Body
    </BlazorPlaceholder>

    <main role="main" class="container">
        <BlazorPlaceholder Name="main">
            @Body
        </BlazorPlaceholder>
    </main>


    <footer class="container">

        <BlazorPlaceholder Name="footer">
            @Body
        </BlazorPlaceholder>

    </footer>
</div>


@functions
{

    [Parameter]
    protected string Language { get; set; }


    protected override void OnInit()
    {

        //_trackerService.CreateSession();
        _uriHelper.OnLocationChanged += OnLocationChanged;
        Reload();
    }

    protected override Task OnInitAsync()
    {
        _interopService.SetOnbeforeunload(_jsRuntimeCurrent);

        return base.OnInitAsync();
    }

    private void OnLocationChanged(object sender, string location) => Reload();

    private async void Reload()
    {
        bool hasRouteError = Language.HasRouteError();

        if (hasRouteError)
            Language = _languageService.GetLanguageFromUrl(_uriHelper.GetBaseUri(), Language).TwoLetterCode;

        await _layoutService.LoadRoute(_jsRuntimeCurrent, Language, hasRouteError);


        StateHasChanged();
    }

    [JSInvokable]
    public static void ClosingBrowser()
    {
        Console.WriteLine("We who are about to die salut you");
    }

    public void Dispose()
    {
        _uriHelper.OnLocationChanged -= OnLocationChanged;
    }



}
